* {
    margin: 0;
}

.Link {
    &__menu {
        &--button {
            display: inline-block;
            top: 40px;
            left: 40px;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5);
            width: 48px;
            height: 48px;
            border: 1px solid #efefef;
            background-color: white;
            border-radius: 100%;
            position: fixed;
            z-index: 10;
            
            &:hover {
                .Threelines {
                    &__line {
                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }

    &__back {
        &--button {
            display: inline-block;
            top: 40px;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5);
            width: 48px;
            height: 48px;
            border: 1px solid #969696;
            background-color: #999999;
            border-radius: 100%;
            position: fixed;
            z-index: 9;

            display: flex;
            justify-content: center;
            align-items: center;

            left: 40px;
            transition: 400ms ease-in-out;

            &:hover {
                .Arrow {
                    &--left {
                        .Arrow__line {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        &--show {
            left: 100px;
            opacity: 1;
            transition-delay: 500ms;
        }

        &--hide {
            left: 40px;
            opacity: 0.2;
        }
    }
}

.Arrow {
    &--left {
        .Arrow__line {
            transition: 200ms;
            border-left: 1px solid white;
            border-top: 1px solid white;
            height: 16px;
            width: 16px;
            transform: rotate(-45deg);
            margin-left: 8px;
        }
    }
}

.Threelines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;

    &__line {
        &:not(:last-child) {
            margin-bottom: 3px;
        }

        transition: 75ms;
        box-sizing: border-box;
        width: 24px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
