.ImageLightbox {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;

    &__background {
        background-color: rgba(0, 0, 0, 0.75);
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }

    &__imageWrapper {
        width: 80%;
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__image {
        width: 100%;
        user-select: none;
    }

    &__title {
        margin-top: 10px;
        background-color: #000000;
        font-family: sans-serif;
        font-size: 14px;
        color: #ffffff;
        border-radius: 10px;
        padding: 2px 8px;
    }

    &__nav {
        width: 50px;
        text-align: center;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &--close {
            position: absolute;
            top: 50px;
            right: 50px;
        }

        &--hide {
            opacity: 0;
            z-index: -1;
            cursor: default;
        }
    }
}