.contact {
    .Link {
        &__menu {
            &--button:not(.Link__menu--isMenu) {
                background-color: rgba(0, 0, 0, 0.25);
    
                .Threelines {
                    &__line {
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}

.PageContact {
    background-color: #fafafa;
    
    &__container {
        margin-top: 130px;
    }
}
