.page {
    position: absolute;
    top: 0;
    width: 100vw;
}

.page--info.page-enter {
    transform: translate(100%, 0) !important;
}

.page--info.page-enter-active {
    transform: translate(0, 0) !important;
    transition: transform 500ms linear;
    z-index: 1;
}

.page--info.page-exit {
    transform: translate(0, 0);
}

.page--info.page-exit-active {
    transform: translate(100%, 0);
    transition: transform 500ms linear;
    z-index: 1;
}

.page--slide.page-enter {
    transform: translate(0, 0);
}

.page--slide.page-exit {
    transform: translate(0, 0);
}
