.page {
    position: absolute;
    top: 0;
    width: 100vw;
}

/* Info Page Transitions */
.page--info.page-enter {
    transform: translate(100%, 0);
}

.page--info.page-enter-active {
    transform: translate(0, 0);
    transition: transform 500ms linear;
    z-index: 1;
}

.page--info.page-exit {
    transform: translate(0, 0);
}

.page--info.page-exit-active {
    transform: translate(100%, 0);
    transition: transform 500ms linear;
    z-index: 1;
}

/* Menu Page Transitions */
.page--menu.page-enter {
    transform: translate(-100%, 0);
}

.page--menu.page-enter-active {
    transform: translate(0, 0);
    transition: transform 500ms linear;
    z-index: 1;
}

.page--menu.page-exit {
    transform: translate(0, 0);
}

.page--menu.page-exit-active {
    transform: translate(-100%, 0);
    transition: transform 500ms linear;
    z-index: 1;
}

/* Slide Page (non) Transitions */
.page--slide.page-enter {
    transform: translate(0, 0);
}

.page--slide.page-exit {
    transform: translate(0, 0);
}
