@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');

.Tile {
    text-decoration: none;
    display: inline-block;
    background-color: #c2c2c2;
    flex-grow: 1;
    width: 33.33%;
    max-width: 33.33%;
    height: 33.33%;
    font-family: 'Noto Serif', serif;
    position: relative;
    overflow: hidden;

    &:nth-child(even) {
        background-color: #828282;
    }

    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.2 ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.2 ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        color: white;
        opacity: 0;
        border: 10px solid rgba(255, 255, 255, 0.25);
        box-sizing: border-box;
        position: absolute;

        &--title {
            font-size: 16px;
        }
        
        &--subtitle {
            font-size: 14px;
            margin-top: 5px;
        }
    }

    &:hover {
        .Tile__image {
            transform: scale(1.15);
        }
        .Tile__overlay {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}