@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');

.PageMenu {
    background-color: #9c9c9c;
    height: 100%;
    font-family: 'Noto Serif', serif;
    overflow: hidden;
    position: fixed !important;

    .Menu__triangle {
        &--left {
            width: 0;
            height: 0;
            border-bottom: 500px solid #c2c2c2;
            border-right: 450px solid transparent;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
        }

        &--right {
            width: 0;
            height: 0;
            border-bottom: 1050px solid #828282;
            border-left: 900px solid transparent;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
    }
}

.Right__panel {
    margin-left: 30%;
    margin-top: 135px;
    display: inline-block;
    position: relative;
    z-index: 3;

    ul {
        list-style-type: none;

        li {
            font-size: 30px;
            letter-spacing: 1px;
            color: #ffffff;

            &.Menu__item {
                &--subtitle {
                    font-size: 12px;
                    margin-bottom: 0px !important;

                    span {
                        left: 20px;
                        position: relative;
                        color: #dddddd;

                        &:before, &:after {
                            content: "";
                            width: 16px;
                            height: 1px;
                            background-color: #dddddd;
                            display: block;
                            position: absolute;
                            top: 8px;
                        }

                        &:before {
                            left: -20px;
                        }

                        &:after {
                            right: -20px;
                        }
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            a {
                color: inherit;
                text-decoration: none;
                transition: all 200ms ease-in-out;

                &:hover {
                    padding-left: 10px;
                }
            }
        }
    }
}

.Contact {
    font-family: sans-serif;
    position: absolute;
    bottom: 20px;
    left: 40px;
    display: flex;
    z-index: 3;

    &__left {
        order: 1;
    }

    &__right {
        order:2;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #000000;

        .Contact__link, .Contact__name {
            height: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 16px;
        }

        .Contact__link {
            color: inherit;

            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    .fa-linkedin {
                        color: #0e76a8;
                    }
            
                    .fa-github {
                        color: #333333;
                    }
                }
            }

            i {
                transition: all 200ms ease-in-out;
                margin-right: 5px;
                font-size: 18px;
                width: 18px;
            }

            span {
                font-size: 14px;
            }
        }
    }

    &__picture {
        img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .Right__panel {
        margin-left: 0%;
        margin-top: 100px;
        display: inline-block;
    
        ul {
            li {
                font-size: 24px;
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .Right__panel {
        margin-top: 70px;

        ul {
            li {
                font-size: 22px;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }
    }

    .Contact {
        &__right {
            margin-left: 5px;

            .Contact__link, .Contact__name {
                height: 20px;
                font-size: 14px;
            }

            .Contact__link {
                i {
                    margin-right: 0px;
                    font-size: 16px;
                }
    
                span {
                    font-size: 12px;
                }
            }
        }

        &__picture {
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
}