@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700&display=swap');

body {
    overflow-x: hidden;
}

.Header {
    &__background {
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 0;
    }

    &__container {
        position: relative;
    }

    &__title {
        &--container {
            display: inline-block;
        }
    }

    &__info {
        padding: 20px;
    
        &--container {
            padding: 20px;
            display: flex;
            flex-direction: column;
            margin-top: 75vh;
        }

        &--top {
            height: 25vh;
        }
    }

    &__title, &__subtitle, &__description, &__story--title, &__facts--title {
        font-family: 'Hepta Slab', serif;
    }
}